@border-color: #bdbdbd;
@background: white;
:host {
  display: block;
}

.spacer {
  flex-grow: 1;
}

@breadcrumb-height: 40px;
header {
  display: flex;
  align-items: center;
  height: @breadcrumb-height;
  & > .icon {
    padding: 10px;
  }

  & > .path {
    display: flex;
    & > * {
      position: relative;
      cursor: default;
      user-select: none;
      height: @breadcrumb-height;
      line-height: @breadcrumb-height;
      box-sizing: border-box;

      & > span {
        white-space: nowrap;
        padding: 4px;
      }

      &:active {
        transform: translate(0, 1px);
      }

      &:hover > span {
        text-decoration: underline;
        //background-color: rgba(0, 0, 0, 0.1);
      }

      //&:first-child:before, &:after {
      &:after {
        content: '/';
        padding: 0 4px;
      }

      &.inactive {
        opacity: 0.5;
      }
    }
  }
}

.filters-header {
  display: flex;
  align-items: center;

  .icon {
    padding: 8px;
  }
}
