<app-dashboard>
  <a brand routerLink="/" class="brand">Estimating</a>
  <!--<span title class="title">{{ title }}</span>-->
  <div top-right class="dropdown">
    <span tabindex="-1" class="fa fa-user fa-lg fa-fw icon"></span>
    <div>
      <a routerLinkActive="active" routerLink="/user">User Profile</a>
      <a>Log Out</a>
    </div>
  </div>
  <div top-right class="dropdown settings">
    <span tabindex="-1" class="fa fa-cog fa-lg fa-fw icon"></span>
    <div>
      <a routerLinkActive="active" [routerLink]="['settings']">Project Settings</a>
    </div>
  </div>
  <div top-right class="dropdown history">
    <span tabindex="-1" class="fa fa-history fa-lg fa-fw icon"></span>
    <div>
      <app-history-chooser [history]="history" (indexChange)="changeHistory($event)" [index]="historyIndex" class="nopad nohover"></app-history-chooser>
      <a routerLinkActive="active" [routerLink]="['history']">See full history</a>
    </div>
  </div>
  <input side placeholder="search" class="search">
  <div side class="list">
    <a routerLinkActive="active" [routerLink]="['tree']"><span class="icon fa fa-fw fa-list"></span><span>Tree</span></a>
    <a routerLinkActive="active" [routerLink]="['components']"><span class="icon fa fa-fw fa-cubes"></span><span>Components</span></a>
    <a routerLinkActive="active" [routerLink]="['reports']"><span class="icon fa fa-fw fa-area-chart"></span><span>Reports</span></a>
  </div>
  <router-outlet></router-outlet>
</app-dashboard>
