<header>
  <div>
    <span (click)="side = !side" class="fa fa-bars fa-lg fa-fw icon"></span>
    <a routerLink="/" class="brand">Estimating</a>
  </div>
  <div><span class="title">{{ title }}aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</span></div>
  <div>
    <div class="dropdown">
      <span tabindex="-1" class="fa fa-user fa-lg fa-fw icon"></span>
      <div>
        <a routerLinkActive="active" [routerLink]="['profile']">User Profile</a>
        <a (click)="logout()">Log Out</a>
      </div>
    </div>
    <div class="dropdown">
      <span tabindex="-1" class="fa fa-cog fa-lg fa-fw icon"></span>
      <div>
        <a routerLinkActive="active">Project Settings</a>
      </div>
    </div>
    <div class="dropdown history">
      <span tabindex="-1" class="fa fa-history fa-lg fa-fw icon"></span>
      <div>
        <div class="nopad inactive arrows">
          <span class="fa fa-undo"></span>
          <span class="fa fa-undo redo"></span>
        </div>
        <span class="inactive">No history</span>
        <a>See full history</a>
      </div>
    </div>
  </div>
</header>
<div>
  <div class="main">
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="side">
    <input placeholder="search" class="search">
    <div class="list">
      <a><span class="icon fa fa-fw fa-list"></span><span>Tree</span></a>
      <a><span class="icon fa fa-fw fa-cubes"></span><span>Components</span></a>
      <a><span class="icon fa fa-fw fa-area-chart"></span><span>Reports</span></a>
    </div>
  </div>
</div>
