/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  font-family: sans-serif;
  height: 100%;
  width: 100%;
  background-color: #f9f9f9;
}

.fa.fa-grip:before {
  content: "\f142\202F\f142\202F\f142";
}

.fa.fa-grip-large:before {
  content: "\f142\202F\f142\202F\f142\202F\f142\202F\f142\202F\f142\202F\f142";
}
